# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS Finder files
.DS_Store

# VSCode workspace settings
.vscode/

# Logs
*.log
