/* app/static/style.css */
body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background: #f9f9f9;
  }
  
  h1 {
    color: #336699;
  }
  
  #form-container {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #ccc;
    max-width: 280px;
  }
  
  label {
    display: inline-block;
    width: 120px;
  }
  
  input, select {
    margin: 5px 0;
  }
  